{% extends "::base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Užsakyti - {{ parent() }}{% endblock %}


{% block body %}

    <div class="order">
        <div class="container-fluid">
            <div class="row vdivide">
                <div class="col-md-6">
                    <h2>KMI Skaičiuoklė</h2>
                    <div class="col-md-8 col-md-offset-2 login-panel">
                        <form class="form">
                            <div class="form-group">
                                <label for="height">Ūgis (cm):</label>
                                <input class="form-control" type="number" id="height" />
                            </div>
                            <div class="form-group">
                                <label for="weight">Svoris (kg):</label>
                                <input class="form-control" type="number" id="weight" />
                            </div>
                        </form>
                        <input class="btn login-button" type="submit" value="Skaičiuoti" onclick="computeBMI();">
                        <h3>Jūsų KMI yra: <span id="output">---</span></h3>
                        <h3>KMI reikšmė: <span id="comment"> ---</span> </h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>Užsakymo detalės</h2>
                    <div class="col-md-8 col-md-offset-2 login-panel">
                        {{ form_start(form) }}
                            {{ form_row(form.ingredients) }}
                            {{ form_row(form.size) }}
                            {{ form_row(form.adress) }}
                            {{ form_row(form.submit) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


