{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="landing" id="landing">
        <div class="container">
            <div class="title col-md-8 col-md-offset-2 col-xs-12">
                <h1>VoltaSport</h1>
            </div>
            <div class="landing-citation col-md-8 col-md-offset-2 col-xs-12">
                <p>Aukščiausios kokybės maisto papildas, gaminamas iš aukščiausios rūšies medžiagų, tinkantis tiek mėgejams, tiek profesionalams.</p>
            </div>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <div class="user-info col-md-8 col-md-offset-2 col-xs-12">
                    <p>Prisijungęs kaip: {{ app.user.name }}</p>
                </div>

                <div class="div-about-button col-md-12 col-xs-12" >
                    <a class="about-button" href="{{ path('security_logout') }}">Atsijungti</a>
                </div>
            {% else %}
                <div class="div-about-button col-md-12 col-xs-12" >
                    <a class="about-button" href="{{ path('connect_facebook') }}"><i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
                        Prisijungti</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}