{% extends "::base.html.twig" %}

{% block title %}Pagrindinis - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
{% endblock %}

{% block body %}

    <div class="landing" id="landing">
        <div class="container">
            <div class="title col-md-8 col-md-offset-2 col-xs-12">
                <h1 class="wow fadeInUp">VoltaSport</h1>
            </div>
            <div class="landing-citation col-md-8 col-md-offset-2 col-xs-12">
                <p class="wow fadeInUp" data-wow-delay="0.5s">Aukščiausios kokybės maisto papildas, gaminamas iš aukščiausios rūšies medžiagų, tinkantis tiek mėgėjams, tiek profesionalams. Mes Jums siūlome galimybę susidaryti unikalų maisto papildą pasirenkant sudedamąsias dalis ir jų kiekį pagal Jūsų poreikį, taip gaunant Jums tobulai tinkantį maisto papildą.</p>
            </div>

            <div class="div-about-button col-md-12 col-xs-12 wow fadeInUp" data-wow-delay="1.2s" >
                <a class="about-button" href="#about">Plačiau</a>
            </div>
        </div>
    </div>

    <div class="about" id="about">
        <div class="container-fluid">
            <div class="col-md-12">
                <h2>Kodėl VoltaSport?</h2>
                <div class="about-info">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-heart fa-stack-1x"></i>
                        </span>
                        <h1>Kokybė</h1>
                        <hr class="content-hr"/>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non pulvinar nibh, et commodo nulla. Nunc erat dolor, sollicitudin et.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-cart-plus fa-stack-1x"></i>
                        </span>
                        <h1>Sudėtis</h1>
                        <hr class="content-hr"/>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non pulvinar nibh, et commodo nulla. Nunc erat dolor, sollicitudin et.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-eur fa-stack-1x"></i>
                        </span>
                        <h1>Kaina</h1>
                        <hr class="content-hr"/>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non pulvinar nibh, et commodo nulla. Nunc erat dolor, sollicitudin et.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="order-info">
                    <div class="div-order-button col-md-12 col-xs-12">
                        <a class="order-button" href="{{ path('new_order') }}">Užsakyti</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-product">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Apie produktą</h2>
                    <div class="img-centered">
                        <img class="img-centered" src="{{ asset('images/optimum-whey.png') }}" alt="">
                    </div>
                    <p class="about-paragraph">Suspendisse tellus ante, suscipit eu augue sed, hendrerit egestas lorem. Fusce lacinia pharetra dui, eget ultrices sapien consequat non. Quisque est velit, semper sed tellus in, mollis pharetra purus. Aliquam quis turpis mollis, imperdiet libero non, tempor urna. Cras quis mi magna. Donec fringilla ex non ligula rutrum viverra. Integer congue diam nisi, malesuada elementum ante commodo vitae. In laoreet rutrum odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce ultricies sit amet massa ac commodo. Donec eleifend arcu at scelerisque tristique. Maecenas et arcu iaculis, vulputate lacus eu, mollis ex. Etiam gravida enim a enim hendrerit, a bibendum tellus rutrum. Maecenas eget egestas elit. Maecenas convallis eros gravida magna gravida ultricies a nec lacus. Mauris accumsan nulla ex, eget finibus quam hendrerit eu. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="catalog" id="katalogas">
        <div class="container-fluid">
            <div class="row">
                <h2>Katalogas</h2>
                <div class="carousel slide" id="myCarousel">
                    <div class="carousel-inner">
                        {% for supplement in supplements %} {% if loop.index % 4 == 1 %} {% if loop.first %}
                        <div class="item active">
                            {% else %}
                            <div class="item">
                                {% endif %} {% endif %}
                            <ul class="thumbnails">
                                <li class="col-md-3">
                                    <div class="fff">
                                        <div class="img-centered">
                                            <a><img src="{{ asset('images/optimum-whey.png') }}" alt=""></a>
                                        </div>
                                        <div class="caption">
                                            <h4>{{ supplement.name }}</h4>
                                            <p>Kaina: {{ supplement.price }} &euro;</p>
                                            <div class="supplement-info-wrapper">
                                                <a href="" class="btn-supplement-info">Plačiau</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                                {% if (loop.index % 4 == 0 or loop.last) %}
                            </div>
                            {% endif %} {% endfor %}
                        </div>
                        <nav>
                            <ul class="control-box pager">
                                <li><a data-slide="prev" href="#myCarousel"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                                <li><a data-slide="next" href="#myCarousel"><i class="glyphicon glyphicon-chevron-right"></i></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer" id="kontaktai">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3> Kontaktai </h3>
                    <ul>
                        <li> <a href="https://www.facebook.com/voltasport"><i class="fa fa-facebook" aria-hidden="true"></i> &nbsp; VoltaSport</a> </li>
                        <li> <a href="tel:+3700000000"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp; +370 00 000 000</a></li>
                        <li> <a href="mailto:voltasport@mail.com"><i class="fa fa-envelope-square" aria-hidden="true"></i>&nbsp; voltasport@mail.com</a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2017 VoltaSport</p>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
{% endblock %}

