{% extends "::base.html.twig" %}

{% block title %}U탑sakymai - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="user-orders">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ include('@App/_flash.html.twig') }}
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>U탑sakymo Nr.</th>
                                <th>B큰sena</th>
                                <th>Papildai</th>
                                <th>U탑s. data</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>{{ order.orderid }}</td>
                                <td>{{ order.getReadableStatus(order.status) }}</td>
                                <td>
                                    {% for supplement in order.supplements %}
                                        {{ supplement.name }}
                                    {% endfor %}
                                </td>
                                <td>{{ order.createdAt|date("Y-m-d") }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


