{% extends "::base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Registracija - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="registracija">
        <div class="container">
            <div class="row">
                <h2>Registracija</h2>
                <div class="col-md-4 col-md-offset-4 login-panel">
                    {{ form_start(form) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword.first) }}
                    {{ form_row(form.plainPassword.second) }}
                    <button class="btn register-button" type="submit">Registruotis</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


